<h1>Login in</h1>

<div>
    <form method="POST">
        <input type="email" name="email" required placeholder="Email">
        <input type="password" name="password" required placeholder="Password">
        <p>
            <button type="submit">Login</button>
            <a href="/">Back</a>
        </p>
    </form>
</div>