<h1>Create your account</h1>
<div>
    <form method="POST">
        <p>
            <input type="text" name="firstname" placeholder="Firstname">
            <input type="text" name="lastname" placeholder="Lastname">
        </p>
        <p>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
        </p>
        <p>
            <button type="submit">Create account</button>
            <a href="/">Back</a>
        </p>
    </form>
</div>